<div>
  <h2 id="page-heading" data-cy="MatriculaHeading">
    <span jhiTranslate="hunterappApp.matriculaMatricula.home.title">Matriculas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.matriculaMatricula.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-matricula"
        [routerLink]="['/matricula/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.matriculaMatricula.home.createLabel"> Create a new Matricula </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matriculas?.length === 0">
    <span jhiTranslate="hunterappApp.matriculaMatricula.home.notFound">No matriculas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matriculas && matriculas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="hunterappApp.matriculaMatricula.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs">
            <span jhiTranslate="hunterappApp.matriculaMatricula.obs">Obs</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="turma.nome">
            <span jhiTranslate="hunterappApp.matriculaMatricula.turma">Turma</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dadosPessoais.id">
            <span jhiTranslate="hunterappApp.matriculaMatricula.dadosPessoais">Dados Pessoais 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matricula', matricula.id, 'view']">{{ matricula.id }}</a>
          </td>
          <td>{{ matricula.data | formatMediumDate }}</td>
          <td>{{ matricula.obs }}</td>
          <td>
            <div *ngIf="matricula.turma">
              <a [routerLink]="['/turma', matricula.turma?.id, 'view']">{{ matricula.turma?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="matricula.dadosPessoais">
              <a [routerLink]="['/dados-pessoais', matricula.dadosPessoais?.id, 'view']">{{ matricula.dadosPessoais?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matricula', matricula.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/matricula', matricula.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(matricula)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="matriculas && matriculas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
