<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="religiao">
      <h2 data-cy="religiaoDetailsHeading"><span jhiTranslate="hunterappApp.configReligiao.detail.title">Religiao</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ religiao.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.configReligiao.codigo">Codigo</span></dt>
        <dd>
          <span>{{ religiao.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.configReligiao.descricao">Descricao</span></dt>
        <dd>
          <span>{{ religiao.descricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/religiao', religiao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
