<div>
  <h2 id="page-heading" data-cy="EstoqueHeading">
    <span jhiTranslate="hunterappApp.controleEstoque.home.title">Estoques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.controleEstoque.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-estoque"
        [routerLink]="['/estoque/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.controleEstoque.home.createLabel"> Create a new Estoque </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="estoques?.length === 0">
    <span jhiTranslate="hunterappApp.controleEstoque.home.notFound">No estoques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="estoques && estoques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="hunterappApp.controleEstoque.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="qtde">
            <span jhiTranslate="hunterappApp.controleEstoque.qtde">Qtde</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorUnitario">
            <span jhiTranslate="hunterappApp.controleEstoque.valorUnitario">Valor Unitario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorTotal">
            <span jhiTranslate="hunterappApp.controleEstoque.valorTotal">Valor Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produto.nome">
            <span jhiTranslate="hunterappApp.controleEstoque.produto">Produto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grupoProduto.nome">
            <span jhiTranslate="hunterappApp.controleEstoque.grupoProduto">Grupo Produto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subGrupoProduto.nome">
            <span jhiTranslate="hunterappApp.controleEstoque.subGrupoProduto">Sub Grupo Produto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estoque of estoques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/estoque', estoque.id, 'view']">{{ estoque.id }}</a>
          </td>
          <td>{{ estoque.data | formatMediumDate }}</td>
          <td>{{ estoque.qtde }}</td>
          <td>{{ estoque.valorUnitario }}</td>
          <td>{{ estoque.valorTotal }}</td>
          <td>
            <div *ngIf="estoque.produto">
              <a [routerLink]="['/produto', estoque.produto?.id, 'view']">{{ estoque.produto?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="estoque.grupoProduto">
              <a [routerLink]="['/grupo-produto', estoque.grupoProduto?.id, 'view']">{{ estoque.grupoProduto?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="estoque.subGrupoProduto">
              <a [routerLink]="['/sub-grupo-produto', estoque.subGrupoProduto?.id, 'view']">{{ estoque.subGrupoProduto?.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/estoque', estoque.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/estoque', estoque.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(estoque)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="estoques && estoques.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
