<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-foto-produto-heading"
        data-cy="FotoProdutoCreateUpdateHeading"
        jhiTranslate="hunterappApp.fotoFotoProduto.home.createOrEditLabel"
      >
        Create or edit a Foto Produto
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.fotoFotoProduto.conteudo" for="field_conteudo">Conteudo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('conteudoContentType')!.value + ';base64,' + editForm.get('conteudo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('conteudo')!.value"
              alt="fotoProduto image"
            />
            <div *ngIf="editForm.get('conteudo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('conteudoContentType')!.value }}, {{ byteSize(editForm.get('conteudo')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('conteudo', 'conteudoContentType', 'file_conteudo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_conteudo"
              data-cy="conteudo"
              (change)="setFileData($event, 'conteudo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="conteudo" id="field_conteudo" data-cy="conteudo" formControlName="conteudo" />
          <input
            type="hidden"
            class="form-control"
            name="conteudoContentType"
            id="field_conteudoContentType"
            formControlName="conteudoContentType"
          />
          <div *ngIf="editForm.get('conteudo')!.invalid && (editForm.get('conteudo')!.dirty || editForm.get('conteudo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('conteudo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.fotoFotoProduto.produto" for="field_produto">Produto</label>
          <select class="form-control" id="field_produto" data-cy="produto" name="produto" formControlName="produto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="produtoOption.id === editForm.get('produto')!.value?.id ? editForm.get('produto')!.value : produtoOption"
              *ngFor="let produtoOption of produtosSharedCollection; trackBy: trackProdutoById"
            >
              {{ produtoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
