<div>
  <h2 id="page-heading" data-cy="FotoDocumentoHeading">
    <span jhiTranslate="hunterappApp.fotoFotoDocumento.home.title">Foto Documentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" [routerLink]="['/documento']" [disabled]="isLoading">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-foto-documento"
        [routerLink]="['/foto-documento/new/documento', documento?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fotoDocumentos?.length === 0">
    <span jhiTranslate="hunterappApp.fotoFotoDocumento.home.notFound">No fotoDocumentos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fotoDocumentos && fotoDocumentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="conteudo">
            <span jhiTranslate="hunterappApp.fotoFotoDocumento.conteudo">Conteudo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fotoDocumento of fotoDocumentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/foto-documento', fotoDocumento.id, 'view']">{{ fotoDocumento.id }}</a>
          </td>
          <td>
            <a *ngIf="fotoDocumento.conteudo" (click)="openFile(fotoDocumento.conteudo, fotoDocumento.conteudoContentType)">
              <img
                [src]="'data:' + fotoDocumento.conteudoContentType + ';base64,' + fotoDocumento.conteudo"
                style="max-height: 30px"
                alt="fotoDocumento image"
              />
            </a>
            <span *ngIf="fotoDocumento.conteudo">{{ fotoDocumento.conteudoContentType }}, {{ byteSize(fotoDocumento.conteudo) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/foto-documento', fotoDocumento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/foto-documento', fotoDocumento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(fotoDocumento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fotoDocumentos && fotoDocumentos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
