<div>
  <h2 id="page-heading" data-cy="AvisoHeading">
    <span jhiTranslate="hunterappApp.userAviso.home.title">Avisos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aviso"
        [routerLink]="['/aviso/new/dadospessoais/', dadosPessoais?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="avisos?.length === 0">
    <span jhiTranslate="hunterappApp.userAviso.home.notFound">No avisos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="avisos && avisos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data"><span jhiTranslate="hunterappApp.userAviso.data">Data</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="titulo">
            <span jhiTranslate="hunterappApp.userAviso.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conteudo">
            <span jhiTranslate="hunterappApp.userAviso.conteudo">Conteudo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aviso of avisos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/aviso', aviso.id, 'view']">{{ aviso.id }}</a>
          </td>
          <td>{{ aviso.data | formatMediumDate }}</td>
          <td>{{ aviso.titulo }}</td>
          <td>{{ aviso.conteudo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/aviso', aviso.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button type="submit" [routerLink]="['/aviso', aviso.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(aviso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="avisos && avisos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
