<div>
  <h2 id="page-heading" data-cy="DadosPessoaisHeading">
    <span jhiTranslate="hunterappApp.userDadosPessoais.home.title">Dados Pessoais</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dados-pessoais"
        [routerLink]="['/dados-pessoais/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dadosPessoais?.length === 0">
    <span jhiTranslate="hunterappApp.userDadosPessoais.home.notFound">No dadosPessoais found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dadosPessoais && dadosPessoais.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="hunterappApp.userDadosPessoais.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sobreNome">
            <span jhiTranslate="hunterappApp.userDadosPessoais.sobreNome">Sobre Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoPessoa.codigo">
            <span jhiTranslate="hunterappApp.userDadosPessoais.tipoPessoa">Tipo Pessoa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dadosPessoais of dadosPessoais; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dados-pessoais', dadosPessoais.id, 'view']">{{ dadosPessoais.id }}</a>
          </td>
          <td>{{ dadosPessoais.nome }}</td>
          <td>{{ dadosPessoais.sobreNome }}</td>
          <td>{{ dadosPessoais.tipoPessoa?.codigo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/endereco/dadospessoais/', dadosPessoais.id]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="home"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/documento/dadospessoais/', dadosPessoais.id]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="align-justify"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/mensagem/dadospessoais/', dadosPessoais.id]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="envelope"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/aviso/dadospessoais/', dadosPessoais.id]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="comments"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/dados-pessoais', dadosPessoais.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/dados-pessoais', dadosPessoais.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(dadosPessoais)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dadosPessoais && dadosPessoais.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
