<div>
  <h2 id="page-heading" data-cy="PagarParaHeading">
    <span jhiTranslate="hunterappApp.controlePagarPara.home.title">Pagar Paras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pagar-para"
        [routerLink]="['/pagar-para/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pagarParas?.length === 0">
    <span jhiTranslate="hunterappApp.controlePagarPara.home.notFound">No pagarParas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pagarParas && pagarParas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="hunterappApp.controlePagarPara.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documento">
            <span jhiTranslate="hunterappApp.controlePagarPara.documento">Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="banco">
            <span jhiTranslate="hunterappApp.controlePagarPara.banco">Banco</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="agencia">
            <span jhiTranslate="hunterappApp.controlePagarPara.agencia">Agencia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conta">
            <span jhiTranslate="hunterappApp.controlePagarPara.conta">Conta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pix">
            <span jhiTranslate="hunterappApp.controlePagarPara.pix">Pix</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagarPara of pagarParas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pagar-para', pagarPara.id, 'view']">{{ pagarPara.id }}</a>
          </td>
          <td>{{ pagarPara.nome }}</td>
          <td>{{ pagarPara.documento }}</td>
          <td>{{ pagarPara.banco }}</td>
          <td>{{ pagarPara.agencia }}</td>
          <td>{{ pagarPara.conta }}</td>
          <td>{{ pagarPara.pix }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pagar-para', pagarPara.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/pagar-para', pagarPara.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(pagarPara)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pagarParas && pagarParas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
