<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="doenca">
      <h2 data-cy="doencaDetailsHeading"><span jhiTranslate="hunterappApp.matriculaDoenca.detail.title">Doenca</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ doenca.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaDoenca.nome">Nome</span></dt>
        <dd>
          <span>{{ doenca.nome }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaDoenca.sintoma">Sintoma</span></dt>
        <dd>
          <span>{{ doenca.sintoma }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaDoenca.precaucoes">Precaucoes</span></dt>
        <dd>
          <span>{{ doenca.precaucoes }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaDoenca.socorro">Socorro</span></dt>
        <dd>
          <span>{{ doenca.socorro }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaDoenca.obs">Obs</span></dt>
        <dd>
          <span>{{ doenca.obs }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/doenca', doenca.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
