<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-colaborador-heading"
        data-cy="ColaboradorCreateUpdateHeading"
        jhiTranslate="hunterappApp.userColaborador.home.createOrEditLabel"
      >
        Create or edit a Colaborador
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.dataCadastro" for="field_dataCadastro">Data Cadastro</label>
          <div class="input-group">
            <input
              id="field_dataCadastro"
              data-cy="dataCadastro"
              type="text"
              class="form-control"
              name="dataCadastro"
              ngbDatepicker
              #dataCadastroDp="ngbDatepicker"
              formControlName="dataCadastro"
            />
            <button type="button" class="btn btn-secondary" (click)="dataCadastroDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="editForm.get('dataCadastro')!.invalid && (editForm.get('dataCadastro')!.dirty || editForm.get('dataCadastro')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataCadastro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.dataAdmissao" for="field_dataAdmissao">Data Admissao</label>
          <div class="input-group">
            <input
              id="field_dataAdmissao"
              data-cy="dataAdmissao"
              type="text"
              class="form-control"
              name="dataAdmissao"
              ngbDatepicker
              #dataAdmissaoDp="ngbDatepicker"
              formControlName="dataAdmissao"
            />
            <button type="button" class="btn btn-secondary" (click)="dataAdmissaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.dataRecisao" for="field_dataRecisao">Data Recisao</label>
          <div class="input-group">
            <input
              id="field_dataRecisao"
              data-cy="dataRecisao"
              type="text"
              class="form-control"
              name="dataRecisao"
              ngbDatepicker
              #dataRecisaoDp="ngbDatepicker"
              formControlName="dataRecisao"
            />
            <button type="button" class="btn btn-secondary" (click)="dataRecisaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.salario" for="field_salario">Salario</label>
          <input type="number" class="form-control" name="salario" id="field_salario" data-cy="salario" formControlName="salario" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.ativo" for="field_ativo">Ativo</label>
          <input type="checkbox" class="form-check" name="ativo" id="field_ativo" data-cy="ativo" formControlName="ativo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.obs" for="field_obs">Obs</label>
          <input type="text" class="form-control" name="obs" id="field_obs" data-cy="obs" formControlName="obs" />
          <div *ngIf="editForm.get('obs')!.invalid && (editForm.get('obs')!.dirty || editForm.get('obs')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('obs')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.userColaborador.dadosPessoais" for="field_dadosPessoais"
            >Dados Pessoais 1</label
          >
          <select
            class="form-control"
            id="field_dadosPessoais"
            data-cy="dadosPessoais"
            name="dadosPessoais"
            formControlName="dadosPessoais"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                dadosPessoaisOption.id === editForm.get('dadosPessoais')!.value?.id
                  ? editForm.get('dadosPessoais')!.value
                  : dadosPessoaisOption
              "
              *ngFor="let dadosPessoaisOption of dadosPessoaisSharedCollection; trackBy: trackDadosPessoaisById"
            >
              {{ dadosPessoaisOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
