<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-saida-estoque-heading"
        data-cy="SaidaEstoqueCreateUpdateHeading"
        jhiTranslate="hunterappApp.controleSaidaEstoque.home.createOrEditLabel"
      >
        Create or edit a Saida Estoque
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.qtde" for="field_qtde">Qtde</label>
          <input type="number" class="form-control" name="qtde" id="field_qtde" data-cy="qtde" formControlName="qtde" />
          <div *ngIf="editForm.get('qtde')!.invalid && (editForm.get('qtde')!.dirty || editForm.get('qtde')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('qtde')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('qtde')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.valorUnitario" for="field_valorUnitario"
            >Valor Unitario</label
          >
          <input
            type="number"
            class="form-control"
            name="valorUnitario"
            id="field_valorUnitario"
            data-cy="valorUnitario"
            formControlName="valorUnitario"
          />
          <div
            *ngIf="
              editForm.get('valorUnitario')!.invalid && (editForm.get('valorUnitario')!.dirty || editForm.get('valorUnitario')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valorUnitario')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valorUnitario')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.obs" for="field_obs">Obs</label>
          <input type="text" class="form-control" name="obs" id="field_obs" data-cy="obs" formControlName="obs" />
          <div *ngIf="editForm.get('obs')!.invalid && (editForm.get('obs')!.dirty || editForm.get('obs')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('obs')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.produto" for="field_produto">Produto</label>
          <select class="form-control" id="field_produto" data-cy="produto" name="produto" formControlName="produto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="produtoOption.id === editForm.get('produto')!.value?.id ? editForm.get('produto')!.value : produtoOption"
              *ngFor="let produtoOption of produtosCollection; trackBy: trackProdutoById"
            >
              {{ produtoOption.nome }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hunterappApp.controleSaidaEstoque.dadosPessoais" for="field_dadosPessoais"
            >Dados Pessoais 1</label
          >
          <select
            class="form-control"
            id="field_dadosPessoais"
            data-cy="dadosPessoais"
            name="dadosPessoais"
            formControlName="dadosPessoais"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                dadosPessoaisOption.id === editForm.get('dadosPessoais')!.value?.id
                  ? editForm.get('dadosPessoais')!.value
                  : dadosPessoaisOption
              "
              *ngFor="let dadosPessoaisOption of dadosPessoaisSharedCollection; trackBy: trackDadosPessoaisById"
            >
              {{ dadosPessoaisOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
