<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="foto">
      <h2 data-cy="fotoDetailsHeading"><span jhiTranslate="hunterappApp.fotoFoto.detail.title">Foto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ foto.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.fotoFoto.conteudo">Conteudo</span></dt>
        <dd>
          <div *ngIf="foto.conteudo">
            <a (click)="openFile(foto.conteudo, foto.conteudoContentType)">
              <img [src]="'data:' + foto.conteudoContentType + ';base64,' + foto.conteudo" style="max-width: 100%" alt="foto image" />
            </a>
            {{ foto.conteudoContentType }}, {{ byteSize(foto.conteudo) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/foto', foto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
