<div>
  <h2 id="page-heading" data-cy="TipoReceberHeading">
    <span jhiTranslate="hunterappApp.controleTipoReceber.home.title">Tipo Recebers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipo-receber"
        [routerLink]="['/tipo-receber/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tipoRecebers?.length === 0">
    <span jhiTranslate="hunterappApp.controleTipoReceber.home.notFound">No tipoRecebers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tipoRecebers && tipoRecebers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="hunterappApp.controleTipoReceber.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoReceber of tipoRecebers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tipo-receber', tipoReceber.id, 'view']">{{ tipoReceber.id }}</a>
          </td>
          <td>{{ tipoReceber.nome }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tipo-receber', tipoReceber.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/tipo-receber', tipoReceber.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(tipoReceber)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tipoRecebers && tipoRecebers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
