<div>
  <h2 id="page-heading" data-cy="AgendaColaboradorHeading">
    <span jhiTranslate="hunterappApp.userAgendaColaborador.home.title">Agenda Colaboradors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.userAgendaColaborador.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agenda-colaborador"
        [routerLink]="['/agenda-colaborador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.userAgendaColaborador.home.createLabel"> Create a new Agenda Colaborador </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="agendaColaboradors?.length === 0">
    <span jhiTranslate="hunterappApp.userAgendaColaborador.home.notFound">No agendaColaboradors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="agendaColaboradors && agendaColaboradors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="hunterappApp.userAgendaColaborador.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs">
            <span jhiTranslate="hunterappApp.userAgendaColaborador.obs">Obs</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="periodoDuracao.nome">
            <span jhiTranslate="hunterappApp.userAgendaColaborador.periodoDuracao">Periodo Duracao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="colaborador.id">
            <span jhiTranslate="hunterappApp.userAgendaColaborador.colaborador">Colaborador</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agendaColaborador of agendaColaboradors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/agenda-colaborador', agendaColaborador.id, 'view']">{{ agendaColaborador.id }}</a>
          </td>
          <td>{{ agendaColaborador.nome }}</td>
          <td>{{ agendaColaborador.obs }}</td>
          <td>
            <div *ngIf="agendaColaborador.periodoDuracao">
              <a [routerLink]="['/periodo-duracao', agendaColaborador.periodoDuracao?.id, 'view']">{{
                agendaColaborador.periodoDuracao?.nome
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="agendaColaborador.colaborador">
              <a [routerLink]="['/colaborador', agendaColaborador.colaborador?.id, 'view']">{{ agendaColaborador.colaborador?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/agenda-colaborador', agendaColaborador.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/agenda-colaborador', agendaColaborador.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(agendaColaborador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="agendaColaboradors && agendaColaboradors.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
