<div>
  <h2 id="page-heading" data-cy="ReceberDeHeading">
    <span jhiTranslate="hunterappApp.controleReceberDe.home.title">Receber Des</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-receber-de"
        [routerLink]="['/receber-de/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="receberDes?.length === 0">
    <span jhiTranslate="hunterappApp.controleReceberDe.home.notFound">No receberDes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="receberDes && receberDes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="hunterappApp.controleReceberDe.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="hunterappApp.controleReceberDe.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cnpj">
            <span jhiTranslate="hunterappApp.controleReceberDe.cnpj">Cnpj</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documento">
            <span jhiTranslate="hunterappApp.controleReceberDe.documento">Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receberDe of receberDes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/receber-de', receberDe.id, 'view']">{{ receberDe.id }}</a>
          </td>
          <td>{{ receberDe.nome }}</td>
          <td>{{ receberDe.descricao }}</td>
          <td>{{ receberDe.cnpj }}</td>
          <td>{{ receberDe.documento }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/receber-de', receberDe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/receber-de', receberDe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(receberDe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="receberDes && receberDes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
