<div>
  <h2 id="page-heading" data-cy="MensagemHeading">
    <span jhiTranslate="hunterappApp.userMensagem.home.title">Mensagems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.userMensagem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mensagem"
        [routerLink]="['/mensagem/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.userMensagem.home.createLabel"> Create a new Mensagem </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mensagems?.length === 0">
    <span jhiTranslate="hunterappApp.userMensagem.home.notFound">No mensagems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mensagems && mensagems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="hunterappApp.userMensagem.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="titulo">
            <span jhiTranslate="hunterappApp.userMensagem.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conteudo">
            <span jhiTranslate="hunterappApp.userMensagem.conteudo">Conteudo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipo.codigo">
            <span jhiTranslate="hunterappApp.userMensagem.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dadosPessoais.id">
            <span jhiTranslate="hunterappApp.userMensagem.dadosPessoais">Dados Pessoais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensagem of mensagems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mensagem', mensagem.id, 'view']">{{ mensagem.id }}</a>
          </td>
          <td>{{ mensagem.data | formatMediumDate }}</td>
          <td>{{ mensagem.titulo }}</td>
          <td>{{ mensagem.conteudo }}</td>
          <td>
            <div *ngIf="mensagem.tipo">
              <a [routerLink]="['/tipo-mensagem', mensagem.tipo?.id, 'view']">{{ mensagem.tipo?.codigo }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mensagem.dadosPessoais">
              <a [routerLink]="['/dados-pessoais', mensagem.dadosPessoais?.id, 'view']">{{ mensagem.dadosPessoais?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mensagem', mensagem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mensagem', mensagem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mensagem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mensagems && mensagems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
