<div>
  <h2 id="page-heading" data-cy="MensagemHeading">
    <span jhiTranslate="hunterappApp.userMensagem.home.title">Mensagems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" [routerLink]="['/dados-pessoais']" [disabled]="isLoading">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRETOR', 'ROLE_SECRETARIA']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mensagem"
        [routerLink]="['/mensagem/new/dadospessoais/', dadosPessoais?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mensagems?.length === 0">
    <span jhiTranslate="hunterappApp.userMensagem.home.notFound">No mensagems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mensagems && mensagems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="hunterappApp.userMensagem.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="titulo">
            <span jhiTranslate="hunterappApp.userMensagem.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipo.codigo">
            <span jhiTranslate="hunterappApp.userMensagem.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensagem of mensagems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mensagem', mensagem.id, 'view']">{{ mensagem.id }}</a>
          </td>
          <td>{{ mensagem.data }}</td>
          <td>{{ mensagem.titulo }}</td>
          <td>
            <div *ngIf="mensagem.tipo">
              {{ mensagem.tipo?.codigo }}
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mensagem', mensagem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/mensagem', mensagem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(mensagem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mensagems && mensagems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
