<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dadosPessoais">
      <h2 data-cy="dadosPessoaisDetailsHeading"><span jhiTranslate="hunterappApp.userDadosPessoais.detail.title">Dados Pessoais</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row mb-3">
        <div class="col">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="global.field.id">ID</span></dt>
            <dd>
              <span>{{ dadosPessoais.id }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.nome">Nome</span></dt>
            <dd>
              <span>{{ dadosPessoais.nome }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.sobreNome">Sobre Nome</span></dt>
            <dd>
              <span>{{ dadosPessoais.sobreNome }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.pai">Pai</span></dt>
            <dd>
              <span>{{ dadosPessoais.pai }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.mae">Mae</span></dt>
            <dd>
              <span>{{ dadosPessoais.mae }}</span>
            </dd>
          </dl>
        </div>
        <div class="col border" style="max-width: 280px; max-height: 280px">
          <label class="form-label" jhiTranslate="hunterappApp.userDadosPessoais.fotoAvatar">Conteudo</label>
          <div *ngIf="dadosPessoais.foto && dadosPessoais.foto.conteudo; else elseBlock">
            <img
              [src]="'data:' + dadosPessoais.foto.conteudoContentType + ';base64,' + dadosPessoais.foto.conteudo"
              style="max-width: 90%; max-height: 90%"
              alt="foto image"
            />
          </div>
          <ng-template #elseBlock>
            <img
              src="../../../../../content/images/High-contrast-camera-photo.svg.png"
              style="max-width: 100%; max-height: 100%"
              alt="foto image"
            />
          </ng-template>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.telefone">Telefone</span></dt>
            <dd>
              <span>{{ dadosPessoais.telefone }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.celular">Celular</span></dt>
            <dd>
              <span>{{ dadosPessoais.celular }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.whatsapp">Whatsapp</span></dt>
            <dd>
              <span>{{ dadosPessoais.whatsapp }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.email">Email</span></dt>
            <dd>
              <span>{{ dadosPessoais.email }}</span>
            </dd>
          </dl>
        </div>
        <div class="col">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.tipoPessoa">Tipo Pessoa</span></dt>
            <dd>
              <span>{{ dadosPessoais.tipoPessoa?.codigo }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.estadoCivil">Estado Civil</span></dt>
            <dd>
              <span>{{ dadosPessoais.estadoCivil?.codigo }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.raca">Raca</span></dt>
            <dd>
              <span>{{ dadosPessoais.raca?.codigo }}</span>
            </dd>
            <dt><span jhiTranslate="hunterappApp.userDadosPessoais.religiao">Religiao</span></dt>
            <dd>
              <span>{{ dadosPessoais.religiao?.codigo }}</span>
            </dd>
          </dl>
        </div>
      </div>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dados-pessoais', dadosPessoais.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
