<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="receberDe">
      <h2 data-cy="receberDeDetailsHeading"><span jhiTranslate="hunterappApp.controleReceberDe.detail.title">Receber De</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ receberDe.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleReceberDe.nome">Nome</span></dt>
        <dd>
          <span>{{ receberDe.nome }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleReceberDe.descricao">Descricao</span></dt>
        <dd>
          <span>{{ receberDe.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleReceberDe.cnpj">Cnpj</span></dt>
        <dd>
          <span>{{ receberDe.cnpj }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleReceberDe.documento">Documento</span></dt>
        <dd>
          <span>{{ receberDe.documento }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/receber-de', receberDe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
