<div>
  <h2 id="page-heading" data-cy="ExameMedicoHeading">
    <span jhiTranslate="hunterappApp.eventoExameMedico.home.title">Exame Medicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.eventoExameMedico.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exame-medico"
        [routerLink]="['/exame-medico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.eventoExameMedico.home.createLabel"> Create a new Exame Medico </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exameMedicos?.length === 0">
    <span jhiTranslate="hunterappApp.eventoExameMedico.home.notFound">No exameMedicos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exameMedicos && exameMedicos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="hunterappApp.eventoExameMedico.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomeMedico">
            <span jhiTranslate="hunterappApp.eventoExameMedico.nomeMedico">Nome Medico</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="crmMedico">
            <span jhiTranslate="hunterappApp.eventoExameMedico.crmMedico">Crm Medico</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resumo">
            <span jhiTranslate="hunterappApp.eventoExameMedico.resumo">Resumo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs">
            <span jhiTranslate="hunterappApp.eventoExameMedico.obs">Obs</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dadosPessoais.id">
            <span jhiTranslate="hunterappApp.eventoExameMedico.dadosPessoais">Dados Pessoais 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exameMedico of exameMedicos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exame-medico', exameMedico.id, 'view']">{{ exameMedico.id }}</a>
          </td>
          <td>{{ exameMedico.data | formatMediumDate }}</td>
          <td>{{ exameMedico.nomeMedico }}</td>
          <td>{{ exameMedico.crmMedico }}</td>
          <td>{{ exameMedico.resumo }}</td>
          <td>{{ exameMedico.obs }}</td>
          <td>
            <div *ngIf="exameMedico.dadosPessoais">
              <a [routerLink]="['/dados-pessoais', exameMedico.dadosPessoais?.id, 'view']">{{ exameMedico.dadosPessoais?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exame-medico', exameMedico.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exame-medico', exameMedico.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(exameMedico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exameMedicos && exameMedicos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
