<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="saidaEstoque">
      <h2 data-cy="saidaEstoqueDetailsHeading"><span jhiTranslate="hunterappApp.controleSaidaEstoque.detail.title">Saida Estoque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ saidaEstoque.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.data">Data</span></dt>
        <dd>
          <span>{{ saidaEstoque.data | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.qtde">Qtde</span></dt>
        <dd>
          <span>{{ saidaEstoque.qtde }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.valorUnitario">Valor Unitario</span></dt>
        <dd>
          <span>{{ saidaEstoque.valorUnitario }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.obs">Obs</span></dt>
        <dd>
          <span>{{ saidaEstoque.obs }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.produto">Produto</span></dt>
        <dd>
          <div *ngIf="saidaEstoque.produto">
            <a [routerLink]="['/produto', saidaEstoque.produto?.id, 'view']">{{ saidaEstoque.produto?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSaidaEstoque.dadosPessoais">Dados Pessoais 1</span></dt>
        <dd>
          <div *ngIf="saidaEstoque.dadosPessoais">
            <a [routerLink]="['/dados-pessoais', saidaEstoque.dadosPessoais?.id, 'view']">{{ saidaEstoque.dadosPessoais?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/saida-estoque', saidaEstoque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
