<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="turma">
      <h2 data-cy="turmaDetailsHeading"><span jhiTranslate="hunterappApp.matriculaTurma.detail.title">Turma</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ turma.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaTurma.nome">Nome</span></dt>
        <dd>
          <span>{{ turma.nome }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaTurma.ano">Ano</span></dt>
        <dd>
          <span>{{ turma.ano }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.matriculaTurma.periodoDuracao">Periodo Duracao</span></dt>
        <dd>
          <div *ngIf="turma.periodoDuracao">
            <a [routerLink]="['/periodo-duracao', turma.periodoDuracao?.id, 'view']">{{ turma.periodoDuracao?.nome }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/turma', turma.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
