<div>
  <h2 id="page-heading" data-cy="FotoSaidaEstoqueHeading">
    <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.home.title">Foto Saida Estoques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-foto-saida-estoque"
        [routerLink]="['/foto-saida-estoque/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.home.createLabel"> Create a new Foto Saida Estoque </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fotoSaidaEstoques?.length === 0">
    <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.home.notFound">No fotoSaidaEstoques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fotoSaidaEstoques && fotoSaidaEstoques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="conteudo">
            <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.conteudo">Conteudo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="saidaEstoque.id">
            <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.saidaEstoque">Saida Estoque</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fotoSaidaEstoque of fotoSaidaEstoques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/foto-saida-estoque', fotoSaidaEstoque.id, 'view']">{{ fotoSaidaEstoque.id }}</a>
          </td>
          <td>
            <a *ngIf="fotoSaidaEstoque.conteudo" (click)="openFile(fotoSaidaEstoque.conteudo, fotoSaidaEstoque.conteudoContentType)">
              <img
                [src]="'data:' + fotoSaidaEstoque.conteudoContentType + ';base64,' + fotoSaidaEstoque.conteudo"
                style="max-height: 30px"
                alt="fotoSaidaEstoque image"
              />
            </a>
            <span *ngIf="fotoSaidaEstoque.conteudo"
              >{{ fotoSaidaEstoque.conteudoContentType }}, {{ byteSize(fotoSaidaEstoque.conteudo) }}</span
            >
          </td>
          <td>
            <div *ngIf="fotoSaidaEstoque.saidaEstoque">
              <a [routerLink]="['/saida-estoque', fotoSaidaEstoque.saidaEstoque?.id, 'view']">{{ fotoSaidaEstoque.saidaEstoque?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/foto-saida-estoque', fotoSaidaEstoque.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/foto-saida-estoque', fotoSaidaEstoque.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fotoSaidaEstoque)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fotoSaidaEstoques && fotoSaidaEstoques.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
