<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fotoSaidaEstoque">
      <h2 data-cy="fotoSaidaEstoqueDetailsHeading">
        <span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.detail.title">Foto Saida Estoque</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fotoSaidaEstoque.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.conteudo">Conteudo</span></dt>
        <dd>
          <div *ngIf="fotoSaidaEstoque.conteudo">
            <a (click)="openFile(fotoSaidaEstoque.conteudo, fotoSaidaEstoque.conteudoContentType)">
              <img
                [src]="'data:' + fotoSaidaEstoque.conteudoContentType + ';base64,' + fotoSaidaEstoque.conteudo"
                style="max-width: 100%"
                alt="fotoSaidaEstoque image"
              />
            </a>
            {{ fotoSaidaEstoque.conteudoContentType }}, {{ byteSize(fotoSaidaEstoque.conteudo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="hunterappApp.fotoFotoSaidaEstoque.saidaEstoque">Saida Estoque</span></dt>
        <dd>
          <div *ngIf="fotoSaidaEstoque.saidaEstoque">
            <a [routerLink]="['/saida-estoque', fotoSaidaEstoque.saidaEstoque?.id, 'view']">{{ fotoSaidaEstoque.saidaEstoque?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/foto-saida-estoque', fotoSaidaEstoque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
