<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="subGrupoProduto">
      <h2 data-cy="subGrupoProdutoDetailsHeading">
        <span jhiTranslate="hunterappApp.controleSubGrupoProduto.detail.title">Sub Grupo Produto</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ subGrupoProduto.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSubGrupoProduto.nome">Nome</span></dt>
        <dd>
          <span>{{ subGrupoProduto.nome }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSubGrupoProduto.obs">Obs</span></dt>
        <dd>
          <span>{{ subGrupoProduto.obs }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleSubGrupoProduto.grupoProduto">Grupo Produto</span></dt>
        <dd>
          <div *ngIf="subGrupoProduto.grupoProduto">
            <a [routerLink]="['/grupo-produto', subGrupoProduto.grupoProduto?.id, 'view']">{{ subGrupoProduto.grupoProduto?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sub-grupo-produto', subGrupoProduto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
