<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grupoProduto">
      <h2 data-cy="grupoProdutoDetailsHeading"><span jhiTranslate="hunterappApp.controleGrupoProduto.detail.title">Grupo Produto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ grupoProduto.id }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleGrupoProduto.nome">Nome</span></dt>
        <dd>
          <span>{{ grupoProduto.nome }}</span>
        </dd>
        <dt><span jhiTranslate="hunterappApp.controleGrupoProduto.obs">Obs</span></dt>
        <dd>
          <span>{{ grupoProduto.obs }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/grupo-produto', grupoProduto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
